h1 {
    font-family: 'Courier New', Courier, monospace;
}

.tacos-heading {
    font-family: 'Courier New', Courier, monospace;
}

.intro-heading {
    font-size: 45px;
    font-weight: bold;
}

.intro-h4 {
    font-size: 30px;
}

.intro-recipes {
    font-size: 22px;
}

img {
    height: 350px;
    width: 400px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: rgb(67, 102, 67);
}

a:active {
    color: rgb(84, 189, 84);
}

button {
    border: solid black;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    padding: 6px;
    font-size: 10px;
}

.index-body {
    background-image: url(https://static.vecteezy.com/system/resources/previews/027/231/657/original/illustration-graphic-of-simple-and-aesthetic-background-template-simple-and-minimalist-pastel-color-with-nature-theme-vector.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.recipe-body {
    background-image: url(https://wallpapercave.com/wp/wp9211946.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.github-plug {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
}

.profile-pic {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    border: solid black;
}

.profile-container {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(200%, 50%);
}

.profile-button {
    border-radius: 50px;
}